@import './variables.scss';

//reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

a{
    all: unset;
}

body{
    background-color: $background-color;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}