@import './variables.scss';

//reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

a{
    all: unset;
}

::-webkit-scrollbar{
    width: 0.3rem;
}


::-webkit-scrollbar-thumb{
    background-color: $dark-color;
    border-radius: 0.25rem;
}

body{
    background-color: $background-color;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}