@import "./variables.scss";

.bgImage {
  background-image: url("./../public/images/sao-vicente.jpg");
  mix-blend-mode: luminosity;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;

  opacity: 2%;
  position: relative;
  z-index: -1;
}

.main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 2rem;

  .h1 {
    font-weight: inherit;
    font-size: 4rem;
    color: $dark-color;
  }

  .h3 {
    font-weight: inherit;
    font-size: 1rem;
    color: $subtitle;
  }
}
