@import "./variables.scss";

.bgImage {
  background-image: url("./../public/images/sao-vicente.jpg");
  background-size: cover;
  background-position: center;

  mix-blend-mode: luminosity;
  opacity: 2%;

  width: 100vw;
  height: 100vh;

  position: relative;
  z-index: -1;
}

.main {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: calc(100% - 2rem);
  
  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 2rem;

  .title {
    font-weight: inherit;
    font-size: 4rem;
    color: $dark-color;
    text-align: center;
    line-height: 86.9%;
    margin-bottom: 1rem;
  }

  .subtitle {
    font-weight: inherit;
    font-size: 1rem;
    color: $subtitle;
    text-align: center;
    padding: 0.25rem;
  }

  .saoVicenteImage{
    width: 6rem;
    margin-top: 1rem;
    border-radius: 2rem;
  }

  .yearTitle{
    font-size: 3rem;
    color: $dark-color;
    margin-top: 4rem;
  }
}
