@import "variables.scss";

@font-face {
  font-family: "Monument";
  src: url("../pages/fonts/Monument_Extended/Black.otf");
}

@font-face {
    font-family: "Apple_Garamond";
    src: url("../pages/fonts/AppleGaramond.ttf");
  }
  

table {
    border-spacing: 0px;
    padding: 0.25rem;

.painted{
    background-color: $secondary-color;
}

.indent, .zdate{
    color: $dark-color;
    font-size: 1.25rem;
    padding: 0.75rem;
    font-family: 'Apple_Garamond';
    
}

.aside{
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color:$dark-color;
    font-size: 1.25rem;
    color: $dark-color;
    font-family: 'Apple_Garamond';

}

  .tbhd {
    background-color: $dark-color !important;
    width: 100%;
    color: $background-color !important;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    font-family: "Monument";

    td {
      padding: 0.75rem;
      
    }
  }



  .season{
    transform: rotate(270deg);
    text-align: center;
    
  }
}
