@import "variables.scss";

@font-face {
  font-family: "Monument";
  src: url("../pages/fonts/Monument_Extended/Black.otf");
}

table {
    border-spacing: 0px;

.painted{
    background-color: $secondary-color;
}

.indent, .zdate{
    color: $dark-color;
    font-size: 1.25rem;
}

.aside{
    border: 1px solid $dark-color;
    font-size: 1.25rem;
    color: $dark-color;

}

  .tbhd {
    background-color: $dark-color !important;
    width: 100%;
    color: $background-color;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    font-family: "Monument";

    td {
      padding: 0.75rem;
      
    }
  }



  .season{
    transform: rotate(270deg);
    text-align: center;
    
  }
}
